.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store

applicationinsights-agent-*.jar
*.log

# Local Terraform state
terraform.tfstate
terraform.tfstate.backup

# Crash logs
crash.log
crash.*.log

# Terraform working directory
.terraform/

# Terraform plan files
*.tfplan